
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Feedback{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
     <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
     <!-- jQuery UI CSS -->
     <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/tokenfield-typeahead.css" rel="stylesheet">
    <link href="/static/css/bootstrap-tokenfield.css" type="text/css" rel="stylesheet">
    <link href="/static/css/typeahead.css" type="text/css" rel="stylesheet">
    <link href="/static/css/custom.css" type="text/css" rel="stylesheet">


    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-tokenfield.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/typeahead.bundle.min.js" charset="UTF-8"></script>
    <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
    </script>
    {% block head %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "dashboard" %}">Peer Feedback</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url "new_feedback" %}">Give feedback</a></li>
            <li><a href="{% url "sent_feedback" %}">Sent</a></li>
            <li><a href="{% url "about" %}">About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if slack_user %}{% if slack_user.image_24 %}<img src="{{ slack_user.image_24 }}"> {% endif %}{{ slack_user.real_name }}{% else %}Profile{% endif %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if slack_user %}
                <li><a href="https://{{ slack_user.slack_team.team_name }}.slack.com/team/{{ slack_user.name }}">Profile on Slack</a></li>
                <li><a href="https://{{ slack_user.slack_team.team_name }}.slack.com/">Your Slack</a></li>
                <li><a href="https://{{ slack_user.slack_team.team_name }}.slack.com/messages/@peer_feedback/">This bot on Slack</a></li>
                <li role="separator" class="divider"></li>
                {% endif %}
                <li><a href="{% url "logout" %}">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" role="main">

{% block content %}{% endblock %}
    </div> <!-- /container -->

  </body>
</html>
