{% extends "base.html" %}
{% block head %}
  <script type="text/javascript">
    $(document).ready(function() {
      var users = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: '/api/slack/members/simple'
      });
      $('#recipient').typeahead(null, {
        name: 'users',
        source: users
      });
    });
    </script>
{% endblock %}
{% block content %}
      <div class="jumbotron">
        <form method="post" action="{{ actions_url }}">
          {% csrf_token %}
          <div class="form-group">
            {% if recipients %}
              Feedback for <b>{% for recipient in recipients %}{{ recipient.get_full_name }} {% endfor %}</b> <small><a href="{% url 'new_feedback' %}">Someone else on your mind?</a></small>
              <input type="hidden" name="recipient_ids" value="{{ recipient_ids }}">
            {% else %}
            <label for="recipient">Recipient</label>
            <input type="text" class="form-control typeahead" id="recipient" name="recipient" value="" />
            {% endif %}
          </div>
          <div class="form-group">
            <label for="feedback_text">{% if question %}{{ question }}{% else %}Your feedback{% endif %}</label>
            {% if question %}
            <input type="hidden" name="question" value="{{ question }}">
            {% endif %}
            <textarea class="form-control input-lg" rows="5" name="feedback_text" id="feedback_text"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-success" href="#" role="button">Send your feedback</button>
          </div>
        </form>
      </div>
{% endblock %}
