{% extends "base.html" %}
{% load humanize %}

{% block content %}
{% if not feedbacks.0.anonymous %}
<div class="row">
  <div class="col-md-12">
    <p><a class="btn btn-info" href="https://{{ slack_user.slack_team.team_name }}.slack.com/messages/@{{ feedback.0.sender.name }}/">Open a direct messages in Slack</a></p>
  </div>
</div>
{% endif %}
{% if not feedbacks.0.delivered_at %}
<div class="row">
  <div class="col-md-12">
    <form method="post" class="form-inline">
      {% csrf_token %}
      <input type="hidden" name="feedback-action">
      {% if feedbacks.0.anonymous %}
      <input type="submit" class="btn btn-danger" name="make_non_anonymous" value="Make non-anonymous">
      {% else %}
      <input type="submit" class="btn" name="make_anonymous" value="Make anonymous">
      {% endif %}
      {% if feedbacks.0.cancelled %}
      <input type="submit" class="btn" name="undo_cancel" value="Undo cancel">
      {% else %}
      <input type="submit" class="btn btn-danger" name="cancel" value="Cancel this feedback">
      {% endif %}
    </form>
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col-md-12">
    {% if feedbacks.0.question %}
    <h2>{{ feedbacks.0.question }}</h2>
    <p>{% if slack_user == feedbacks.0.sender %}Your feedback to {{ feedbacks.0.recipient }}.{% else %}Feedback to you from your colleague.{% endif %}</p>
    {% else %}
    <h2>{% if slack_user == feedbacks.0.sender %}Your feedback to {{ feedbacks.0.recipient }}.{% else %}Feedback to you from your colleague.{% endif %}</h2>
    {% endif %}
    {% for feedback in feedbacks %}
      {% include "snippets/feedback_blockquote.html" %}
    {% endfor %}
    <blockquote class="blockquote-reverse">
      <form class="" method="post">
        {% csrf_token %}
        <div class="form-group">
          <textarea rows="3" class="form-control" name="feedback" id="feedback" placeholder="Your reply ({% if not anonymous %}non-{% endif %}anonymous)"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Reply</button>
        </div>
      </form>
    </blockquote>
  </div>
</div>
{% endblock %}
