{% load humanize %}
<blockquote class="{% if feedback.sender == slack_user %}blockquote-reverse{% endif %}">
  <p>{{ feedback.feedback }}</p>
  <footer>
    {% if feedback.flagged_helpful %}<i class="glyphicon glyphicon-thumbs-up" data-toggle="tooltip" data-placement="bottom" title="{{ feedback.get_anonymized_recipient_first_name }} flagged this feedback as helpful"></i> {% endif %}
    {% if feedback.flagged_difficult_to_understand%}<i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="{{ feedback.get_anonymized_recipient_first_name }} marked this feedback as difficult to understand. You may want to clarify it by replying."></i> {% endif %}
    {% if not feedback.anonymous %}<a href="https://{{ slack_user.slack_team.team_name }}.slack.com/messages/@{{ feedback.sender.name }}/">{% if feedback.get_author_icon %}<img src="{{ feedback.get_author_icon}}" />{% endif %}{{ feedback.get_author_name }}</a>{% else %}{{ feedback.get_author_name}}{% endif %} {% if feedback.sender == slack_user %}(you){% endif %} {{ feedback.given | naturaltime }}{% if not feedback.reply_to %} - <a href="{% url 'single_feedback' feedback.feedback_id %}">View</a>{% endif %}</footer>
</blockquote>
